{% load crispy_forms_tags %}
{% load staticfiles %}
{% block jumbotron %}
<html>
    <head>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
      <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>PMS - SignUp</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'css/maxcdnbootstrap.min.css' %}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="{% static 'js/maxcdnbootstrap.min.js' %}" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<style>
{% block style%}
{% endblock %}
</style>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css'%}" media="screen,projection"/>
      <script type="text/javascript" src="{% static 'materialize/js/jquery-2.1.1.min.js' %}"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body style= "background : #eeeeee">
        
    <script src="{% static 'js/ajaxjquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'materialize/js/sidenav.js' %}"></script>
	
	<nav>
    <div class="nav-wrapper blue darken-4">
      &nbsp;&nbsp;&nbsp;<a id="abc" href="#" class="brand-logo" ><font size="6">SignUp</font></a>
      <style type="text/css">#abc:hover{text-decoration: none}</style>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/" style="text-decoration:none; color:white"><font size="4">Home</font></a></li>
        <li><a href="/login" style="text-decoration:none; color:white"><font size="4">Login</font></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/" style="text-decoration:none"><font size="4">Home</font></a></li>
        <li><a href="/login" style="text-decoration:none"><font size="4">Login</font></a></li>
      </ul>
    </div>
  </nav> 

<script>
function getLinkToFile() {
  var e = document.getElementsByName('GetLink_textField')[0];
  var val = parseInt(e.value);
  alert(val)
  // Do the rest here
}
</script>


<div class="row" style="margin-top : 30px;">
<div class = 'row'>
<!-- <div class = "col-md-4">hai</div> -->
<div class = 'col-md-4'></div>

<div class = 'col-md-4'>
<div class="card-panel"> 
<form method = "POST">
{% csrf_token%}
{{profileform|crispy}}
<br></br>
<div class="input-field row">
             <input id="member no" name = "no_of_members" type="text" class="validate" style="font-size:15px">
             <label for="member no"><font size="2">No of Members</font></label>
             </div>
<!-- <INPUT TYPE="text" NAME="no_of_members"> -->
{{userform|crispy}}
<div align="center">
<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i></button>
</div>
</form>
</div>
<br></br>
<!-- <input type = "submit" value = "submit"> -->

</div>
</div>
</body>
</html>
<!-- {% endblock %} -->
