{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html>
    <head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.css' %}">
    
        <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"/>

       <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<script src="{% static 'js/bootstrap.min.js' %}"></script>

    </head>
    <body style= "background : #eeeeee; overflow-x : hidden">

    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    
   <nav>
    <div class="nav-wrapper red darken-2">
      &nbsp;&nbsp;&nbsp;<a id="abc" href="#" class="brand-logo" ><font size="6">Project Management System</font></a>
      <style type="text/css">#abc:hover{text-decoration: none}</style>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login" style="text-decoration:none"><font size="4">Login</font></a></li>
        <li><a href="/contact" style="text-decoration:none"><font size="4">Register</font></a></li>
        <li><a href="/pclogin" style="text-decoration:none"><font size="4">Placement Cell</font></a></li>
      </ul>
    </div>
  </nav>
<br></br>     
<div class = 'row'>

<div class = 'col-md-4'></div>

<div class = 'col-md-4'>

<form method = "POST">{% csrf_token%}
{{form|crispy}}
<div align="center">
<button class="btn waves-effect waves-light" type="submit" name="action">Search
    <i class="material-icons right">send</i>
  </button></div>
</form>
</div>
</div>
</br>
</br>

<table class="table table-hover">
    <thead>
      <tr>
        <th>GroupName</th>
        <th>Branch</th>
        <th>Project Title</th>
        <th>Project Type</th>
        <th>project_docs</th>
      </tr>
    </thead>
    <tbody>
    {%for l in details%}
      <tr>
      
        <td>{{l.0}}</td>
        <td>{{l.1}}</td>
        <td>{{l.2}}</td>
        <td>{{l.3}}</td>
        <td><a href="{{l.4}}">notify</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <!-- <div bgcolor="#000000"> -->
  
  
    </body>
</html>
