{% load staticfiles %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

<html>
<head>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css'%}" media="screen,projection"/>
<script src="{% static "js/bootstrap.dataTables.js" %}"></script>
<link rel="stylesheet" href="{% static 'css/maxcdnbootstrap.min.css' %}">
<script src="{% static 'js/maxcdnbootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=0.5"/>
<title>PMS - {{ request.user }}</title>
</head>

<body style= "background : #eeeeee; overflow-x : hidden">
      <script type="text/javascript" src="{% static 'materialize/js/jquery-2.1.1.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'materialize/js/sidenav.js' %}"></script>
      <script type="text/javascript" src="{% static 'materialize/js/modal.js' %}"></script>
      <style>
.success{
  background:green;
  text-align:center;
}
</style>

{% if user.is_authenticated %}
<nav>
    <div class="nav-wrapper blue darken-4">
      &nbsp;&nbsp;&nbsp;<a id="abc" href="#" class="brand-logo" ><font size="6">Welcome {{ request.user }}</font></a>
      <style type="text/css">#abc:hover{text-decoration: none}</style>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if not user.is_superuser %}
        <li><a href="/login/{{request.user}}/config" style="text-decoration:none; color:white"><font size="4">Edit Profile</font></a></li>{% endif %}
        <li><a href="/logout" style="text-decoration:none; color:white"><font size="4">Logout</font></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
      {% if not user.is_superuser %}
        <li><a href="/login/{{request.user}}/config" style="text-decoration:none;"><font size="4">Edit Profile</font></a></li>{% endif %}
        <li><a href="/logout" style="text-decoration:none;"><font size="4">Logout</font></a></li>
      </ul>
    </div>
  </nav> 

{% if user.is_superuser %}

      {% if messages %}
<div class="row">
<div class="col-xs-12">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
    </div>
</div>
{% endif %}

        <br></br>

        <div class = 'row'>
        <div class = 'col-md-1'>
            </div>
            <div class = 'col-md-4'>
            {% render_table table %}
            </div>
            <div class = 'col-md-2'>
            </div>
      <div class = 'col-md-4'>
      <form method = "POST">
      {% csrf_token%}
        {{ form|crispy }}
        <button id="btnShow" type = "submit" value = "submit">Submit</button> 
        <!-- <input type = "submit" value = "submit"></form> -->
      </div>  
      </div>
      <div class = 'row'>
      

    {% else %}

  <br></br>
    <div class = 'row'>
            <div class = 'col-md-1'>
            </div>
      <div class = 'col-md-4'>
      <div class="card-panel">
      <h3>Private Notifications</h3>
        <table class="table table-hover">
    <thead>
      <tr>
        <th>Notification</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
    
    {% for t in table%}
      <tr>
        <td>{{ t.notification }}</td>
        <td>{{ t.time_stamp }}</td>
        </form>
      </tr>
      {%endfor%}
      
    </tbody>
  </table>
  </div>
      </div>  
      <div class = 'col-md-2'></div>
      <!-- <div class = 'col-md-4'>
      </div> -->
      <div class = 'col-md-4'>
      <div class="card-panel">
      <h3>Public Notifications</h3>
        <table class="table table-hover">
    <thead>
      <tr>
        <th>Notification</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
    
    {% for t in table1%}
      <tr>
        <td>{{ t.notification }}</td>
        <td>{{ t.time_stamp }}</td>
        </form>
      </tr>
      {%endfor%}
      
    </tbody>
  </table>
  </div>
      </div>  
      </div>




<div class = 'row'>
<div class = 'col-md-1'>
</div>
<div class = 'col-md-10'>
{% if documents %} 
<div class="card-panel">
  <h2>Group Details</h2>    
       
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Document Url</th>
      </tr>
    </thead>
    <tbody>
    
    {% for document in documents%}
      <tr>
        <td><li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li></td>
        <form action="{% url 'delete' num=document.gpno %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="docfile" value="{{ document.pk }}" />
        <td><input type="submit" value="Delete" /></td>
        </form>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Upload Document</a>
  </div>
  </div>
  </div>
  {% endif %}
  <div id="modal1" class="modal">
    <div class="modal-content">
    <div align="center">
    <h3>Document Upload</h3>
    </div>
    <hr width="75%">
    <br>
    <form class="form-inline" role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
             <div class="input-field">
             <input id="project title" name = "doc_title" type="text" class="validate" style="font-size:15px">
             <label for="project title"><font size="3">Project Title</font></label>
             </div>
            <div align="center">
            <div class="form-group">
            <br></br>
            <p>{{ form.non_field_errors }}
            {{ form.docfile.label_tag }} {{ form.docfile.help_text }}
            
                <!-- {{ form.docfile.errors }} -->
                {{ form.docfile }}
            </p>
            <br></br>
            <button class="btn waves-effect waves-light" type="submit">Upload
    <i class="material-icons right">send</i>
  </button>
            </div>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            </div>
        </form>
    </div>
  </div>
          
{% endif %}

{% else %}
    <div class = 'row'>
    <div class = 'col-md-1'>
            </div>
    you must login to continue</div>
    <div class = 'row'><div class = 'col-md-1'>
            </div><a href="/login" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-log-out"></span> Log in
        </a></div>
    {% endif %}
  </body>
  </html>

      
      <!-- <div align="center">   -->
        <!-- <form class="form-inline" role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="file-field input-field" >
      <div class="btn">
        <span>File</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper" >
        <input class="file-path validate" type="text">
      </div>
    </div>
    <p><input type="submit" value="Upload" /></p>
  </form> -->
  <!-- </div> -->











    
