{% load staticfiles %}
<html>
<head>

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css'%}" media="screen,projection"/>
<script src="{% static 'js/bootstrap.dataTables.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/maxcdnbootstrap.min.css' %}">
<script src="{% static 'js/maxcdnbootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
<script type="text/javascript" src="{% static 'materialize/js/jquery-2.1.1.min.js' %}"></script>
</head>
<body style= "background : #eeeeee; overflow-x : hidden; padding-left:220px;">
<script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'materialize/js/sidenav.js' %}"></script>
<link rel="stylesheet" href="{% static 'materialize/css/pad.css'%}" media="screen,projection"/>    
   <nav>
   <div class="nav-wrapper blue darken-4">
      &nbsp;&nbsp;&nbsp;<a id="abc" href="#" class="brand-logo" ><font size="6">PMS</font></a>
      <style type="text/css">#abc:hover{text-decoration: none}</style>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <li><a href="/logout" style="text-decoration:none; color:white"><font size="4">Logout</font></a></li>
      </ul>

   <!--  <ul class="side-nav" id="mobile-demo">
        <li><a href="/" style="text-decoration:none"><font size="4">Home</font></a></li>
        <li><a href = "searchresult" class="waves-effect waves-light" href="#" style="text-decoration:none;"><font size="5"><b>Mini Project</b></font></a></li>
      <li><a class="waves-effect waves-light" href="" style="text-decoration:none;"><font size="5"><b>Main Project</b></font></a></li>
      </ul> -->
    
  </nav>

  <div class="tabbable">
      
      <ul id="slide-out" class="side-nav fixed blue lighten-1">
      <br></br> 
      <li class = "active"><a class="waves-effect waves-light" href="#mini"  data-toggle="tab" style="text-decoration:none; color:white"><font size="5"><b>Mini Project</b></font></a></li>
      <li><a class="waves-effect waves-light" href="#main"  data-toggle="tab" style="text-decoration:none; color:white"><font size="5"><b>Main Project</b></font></a></li>
    </ul>
<br></br>
<div class="tab-content">
    <div class="tab-pane active" id="mini">
<div class = 'row'>
<div class = 'col-md-12'>
<h2>&nbsp Project Title : {{title}}</h2>
</div>
</div>

<div class = 'row'>
<div class = 'col-md-6'>
<div class="container">
  <h2>Group Details</h2>          
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Roll no</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    {%for l in s%}
      <tr>
      
        <td>{{l.name}}</td>
        <td>{{l.rollno}}</td>
        <td>{{l.email}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
</div>
</div>
<hr>



<div class = 'row'>
<div class = 'col-md-6'>
<div class="container">
  <h2>Project Docs</h2>          
  <table class="table">
    <thead>
      <tr>
        <th>Document Title</th>
        <th>Document Url</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
    {%for l in d%}
      <tr>
        <td>{{ l.doc_title }}</td>
        <td><a href="{{ l.docfile.url }}">{{ l.docfile.name}}</a></td>
        <td>{{ l.time_stamp }}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
</div>


</div>
</div>
<div class="tab-pane" id="main">

<div class = "row">
<div class = 'col-md-6'>
<div class="container">
  <h2>Main Poject Group Details</h2>          
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Roll no</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    {%for l in s1%}
      <tr>
      
        <td>{{l.name}}</td>
        <td>{{l.rollno}}</td>
        <td>{{l.email}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
</div>


<div class = 'col-md-6'>
<div class="container">
  <h2>Project Docs</h2>          
  <table class="table">
    <thead>
      <tr>
        <th>Document Title</th>
        <th>Document Url</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
    {%for l in d1%}
      <tr>
        <td>{{ l.doc_title }}</td>
        <td><a href="{{ l.docfile.url }}">{{ l.docfile.name}}</a></td>
        <td>{{ l.time_stamp }}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
</div>
</div>

</div>
</div>
</div>
</body>
</html>